body {
  background: #eeeeee;
}

/* ====================================================================== */
h1 {
  background: #ffffff;
  text-align: center;
}

.Manual {
  background: #ffffff;
  text-align: left;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* ====================================================================== */
.CommentConfig {
  background: #ffffff;
  text-align: left;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* ====================================================================== */
.AppMain {
  display: flex;
  align-items: center;
}

.AppMainForm {
  flex-grow: 1;
  background: #ffffff;
  margin: 10px;
}

input {
  width: 20px;
}

.Submit {
  width: 100px
}

textarea {
  width: 100%;
  height: 500px;
  background: #ffffff;
  resize: none;
}

.AppMainButton {
  width: 50px;
  margin: 10px;
  writing-mode: vertical-rl;
}

button {
  width: 100%;
  height: 150px;
}
