name: Deploy to GitHub Pages

on:
  push:
    branches: [ "master" ]

jobs:
  test:
    uses: ./.github/workflows/test.yml
  deploy:
    needs: test
    permissions:
      contents: write  # gh-pagesによるデプロイに必要な権限
    runs-on: ubuntu-slim
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up Node
        uses: actions/setup-node@v6
      -
        name: Install Dependencies
        run: npm ci
      -
        # https://qiita.com/salty-byte/items/a542e57a1a94ae4b2ab8
        name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "action@example.com"
          git config --global user.name "GitHubAction"
          git remote set-url origin https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npm run deploy
